body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.display {
    background-color: rgb(227, 133, 133);
    border: 3px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    overflow-wrap: break-word;
    width: 12%;
    min-width: 190px;
}

.title {
    font-size: 50px;
}

.numbers p {
    font-size: 25px;
    padding: 0px;
    margin: 5px;
}

.numbers {
    border: 3px solid black;
    border-radius: 50px;
    background-color: #e79c9c;
    height: 100px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date {
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
}

#shortTitle {
    display: none;
}

button {
    margin-left: 10px;
    padding: 10px;
}

select {
    margin-left: 10px;
    padding: 10px;
}



@media only screen and (max-width: 1500px) {
    .display {
        min-width: 0px;
        max-width: 100px;
        width: 80px;
        margin: 5px;
    }
    #numCapacity {display: none;}
    #percentage {font-size: 20px; padding: 0px;}
    .numbers {
        margin: auto;
        width: 70px;
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .date {
        margin: auto;
        font-size: 10px;
        font-weight: 500;
    }
    .display h3 {
        font-size: 15px;
        margin: 5px;
        margin-bottom: 10px;
    }
    .title {
        font-size: 35px;
    }
    #fullTitle {
        display: none;
    }
    #shortTitle {
        display: block;
    }
}